<div class="jumbotron">
  <h1>Meow, Meow!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="It's Kitten Time!"><br>
    Which type of snowy kitty cat are you?
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/about">Get Started!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div>
  <h1>Meow, Meow!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="Do you want to play a kitty game??"><br>
    Kitties don't like to be hit with snow, can you save him?
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/about">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
